body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark .card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333;
}

body.dark .form-control {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
}

body.dark .form-control::-webkit-input-placeholder {
  color: #fff;
}

body.dark .btn {
  border: none;
}